:root {
    --header-height: 30px;
    --header-margin: 0px;
    --sidebar-min-width: 10px;
    --sidebar-max-width: 200px;
    --base-font-size: 16px;
    --small-font: 12px;
}

html {
    font-size: var(--base-font-size);
    color: var(--color-text);
}
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: var(--color-background);
}

.Toolbar {
    height: var(--header-height);
    background: var(--color-toolbar);
    margin-bottom: var(--header-margin);
    font-size: var(--small-font);
    display: flex;
    padding-left: 5px;
    align-items: center;
}
.Toolbar__Item {
    padding: 2px;
}
.Toolbar__Item button{
    font-size: var(--small-font);
}

.Container {
    display: flex;
    max-height: calc(100vh - var(--header-height) - var(--header-margin));
    max-width: 100vw;
}

.Sidebar {
    display: flex;
    background: var(--color-sidebar);
    height: calc(100vh - var(--header-height) - var(--header-margin));
    flex: 0 0 var(--sidebar-max-width);
}
.Sidebar:not([data-expanded="true"]) {
    flex: 0 0 var(--sidebar-min-width);
}
.Sidebar:not([data-expanded="true"]) > .Sidebar__Content {
    display: none;
}
.Sidebar__Control {
    display: flex;
    flex-direction: column;
    min-width: var(--sidebar-min-width);
}
.Sidebar__Control span {
    margin: auto;
}
.Sidebar__Content {
    width: 100%;
    flex-grow: 0;
    background: var(--color-toolbar);
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}
.Sidebar__Content--Header > :first-child {
    color: var(--color-text-highlight);
}
.Sidebar__Content--Header > :nth-child(2) {
    font-size: var(--small-font);
}
.Sidebar__Content--Content {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
}

.Property {
    display: flex;
    width: 100%;
    font-size: var(--small-font);
    margin-bottom: 2px;
}
.Property--Label {
    flex: 0 0 50%;
    margin-right: 5px;
}
.Property--Value {
    flex: 0 0 50%;
    width: auto;
    max-width: 45%;
}

#canvas {
    max-width: 100%;
    max-height: calc(100vh - var(--header-height) - var(--header-margin));
    margin: auto;
}

.Button--Outline {
    padding: 5px;
    text-decoration: underline;
    color: var(--color-text-highlight);
}
.Button[data-active="true"], .Button--Prop[data-active="true"] {
    color: var(--color-text);
    background: var(--color-text-highlight);
}

.Outline__Item[data-expanded="false"] .Outline__Item--Content {
    display: none;
}
.Button--Prop {
    width: 100%;
    background-color: var(--color-subheading);
    margin: 5px 0;
    font-size: var(--small-font);
}

.Canvas__Toolbar {
    display: flex;
    gap: 10px;
    margin: auto;
    width: fit-content;
}