:root {
    --color-background: rgb(73, 73, 73);
    --color-toolbar: rgb(45, 45, 45);
    --color-sidebar: rgb(39, 47, 80);
    --color-overlay: rgba(255, 255, 255, 0.4);
    --color-text: rgb(255, 255, 255);
    --color-text-dark: rgb(40, 35, 50);
    --color-subheading: rgba(255, 255, 255, 0.2);
    --color-text-highlight: rgb(180, 180, 250);
    --color-error: rgb(255, 94, 94);
    --base-font-size: 16px;
    --mobile-font-size: 12px;
}

html {
    font-size: var(--base-font-size);
}

@media only screen and (max-width: 1000px) {
    html {
        font-size: var(--mobile-font-size);
    }
}

html, input, button, select {
    font-family: 'Courier New', Courier, monospace;
}

input {
    border: none;
    border-radius: 2px;
    font-size: var(--small-font);
}
button {
    border: none;
    background: inherit;
    color: inherit;
    cursor: pointer;
}
:is(button, a, select):hover {
    opacity: 0.6;
}
hr {
    border: none;
    border-top: 2px solid var(--color-text);
}
a {
    cursor: pointer;
    font-size: var(--small-font);
    color: var(--color-text);
    text-decoration: none;
}

[data-visible="false"] {
    display: none;
}
.m-auto {
    margin: auto;
}
.ml-auto {
    margin-left: auto;
}
.m-5 {
    margin: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.text-center {
    text-align: center;
}
.dn {
    display: none !important;
}

button:disabled {
    pointer-events: none;
    opacity: 0.5;
}

span[data-t] {
    pointer-events: none;
}

.Button {
    background: var(--color-text);
    color: var(--color-text-dark);
    width: fit-content;
    border-radius: 2px;
    text-align: center;
}
.Button--Link {
    padding: 1px 6px;
    font-size: 14px;
}

.Popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-sidebar);
    min-width: 25vw;
    min-height: 25vh;
    border-radius: 2px;
    padding: 10px;
    z-index: 10;
}
.Popup__Header {
    display: flex;
    justify-content: space-between;
}
.Popup__Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.Popup__Content textarea {
    width: 50vw;
    height: 75vh;
}

.PageOverlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-overlay);
    z-index: 5;
}

/* Loading */
.Loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: black;
}
.Loading__Content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.Loading__Text {
    margin: 1rem;
    font-size: 2rem;
}
.Loading__Progress {
    display: flex;
    width: fit-content;
    margin: auto;
}
.Loading__Bar {
    border: 2px solid white;
    height: 1rem;
    width: 20vw;
    padding: 2px;
}
.Loading__Bar--Inner {
    height: 100%;
    width: 0%;
    background: white;
    transition: width 0.2s;
}.Loading__Step {
    margin: 0.2rem;
    height: 1rem;
    font-size: 1rem;
}

.loading {
    color: transparent;
    position: relative;
}

.loading::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    border: 3px solid rgb(97, 97, 97);
    border-top: 3px solid rgb(45, 40, 78);
    animation: loading-circle 1s linear 0s infinite;
}

@keyframes loading-circle {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

:not(:root):fullscreen {
    overflow: auto;
}