:root {
    --page-margin: 50px;
}

html {
    color: white;
}
body {
    margin: var(--page-margin);
    background: black;
}

.Version {
    font-size: 0.7rem;
}
.TopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    flex-wrap: wrap-reverse;
}
.TopBar > * {
    margin-left: auto;
    margin-right: auto;
}
.Actions {
    display: flex;
    gap: 5px;
    align-items: center;
}
.Actions [data-action="toggle-sound"] {
    background-image: url(/images/SoundOn.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    padding: 5px;
}
.Actions [data-action="toggle-sound"][data-sounds="off"] {
    background-image: url(/images/SoundOff.png);
}
.Actions [data-href="profile"] {
    background-image: url(/images/Profile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.2rem;
    height: 1.2rem;
}
.Actions select {
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.Link--Editor {
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
}

.Levels {
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    justify-content: center;
}

.Level {
    margin: 20px;
}
.Level__Content {
    border: 5px solid white;
    width: 300px;
    height: 200px;
    min-width: 300px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Level__Content[data-complete="true"] {
    border: 5px solid rgb(31, 124, 31);
}
.Level:hover {
    opacity: 0.6;
}
.Level__Text {
    display: flex;
    align-items: flex-start;
}
.Level__Text > *, .Level__Name {
    margin: 5px;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
}
.Level__Name {
    background: rgba(0, 0, 0, 0.5);
}
.Level__Complete {
    background: rgba(0, 128, 0, 0.5);
}
.Level__Stats--Points, .Level__Stats--Time {
    background: rgba(255, 255, 255, 0.5);
    color: black;
}

.Level__Buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Level__Action {
    padding: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    margin: 5px;
}
.Level__Info {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.8);
    width: fit-content;
    border-radius: 5px;
}

.Level__Info .Level__Name {
    background: none;
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.Level__Author {
    font-style: italic;
    opacity: 0.7;
    color: black;
}
.Level__Author--Menu {
    font-style: italic;
    opacity: 0.7;
    font-size: 0.7rem;
}

[data-complete="false"] :is(.Level__Complete, .Level__Stats--Points, .Level__Stats--Time) {
    display: none;
}


.Row {
    display: flex;
    justify-content: center;
}
.Button--center {
    margin: auto;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
}

.Help {
    background-image: url(/images/Help.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid white;
}
.Highscores {
    background-image: url(/images/Highscores.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    border: 2px solid white;
}
.Help__Text {
    margin: auto;
    text-align: center;
    max-width: 1000px;
}